# Виртуальное окружение (локальные зависимости)
.venv/
venv/
ENV/

# Секретные файлы конфигурации (токены, пароли)
.env

# Локальные базы данных SQLite
*.db
*.sqlite3

# Кэш компиляции Python (те самые папки, что мы удаляли)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки среды разработки (VS Code / PyCharm)
.vscode/
.idea/

# Логи работы приложения
*.log
